{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<form method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté au compte {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Se deconnecter ici</a>
        </div>
    {% endif %}

    <h1>Récupération de mot de passe</h1>
    <p>Veuillez saisir votre adresse e-mail pour récupérer votre mot de passe :</p>
    <form action="recuperation.php" method="post">
      <label for="email">Adresse e-mail :</label>
      <input type="email" id="email" name="email" required>
      <br>
      <input type="submit" value="Envoyer">
    </form>
 
 <!-- ***** Footer Start ***** -->
{% include 'footer.html.twig'%}


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
 {% endblock %}
