{% extends 'base.html.twig' %}
{% block title %}Boutique en ligne{% endblock %}

{% block body %}

    <!-- ***** Preloader Start ***** -->
{% include 'preloader.html.twig'%}
    <!-- ***** Preloader End ***** -->
    <!--Navbar-->
{% include 'header.html.twig'%}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Nos Produits</h2>
                        <span>Selection de la saison</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Notre collection du moment</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                    {% if articles|length > 0%}
                            {% for article in articles %}
                            {% include 'article/product.html.twig' %}
                            {% endfor %}
                        {% endif %}

                <div class="col-lg-12">


                    <div class="pagination">
                        <ul>
                            
                             {% if previous >= 0 %}
                             <li class="active">
                                <a href="{{ path('app_article', { offset: previous }) }}">prev</a>
                                </li>
                            {% endif %}
                            
                             {% if next < articles|length %}
                             <li>

                                <a href="{{ path('app_article', { offset: next }) }}">next</a>
                                </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
    
{% include 'footer.html.twig'%}

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
 {% endblock %}




 